#replay{
	transition: 0.3s;
	background-color: gray; 
	position:fixed; 
	top:40%; 
	left:43%; 
	font-family: Arial; 
	display: none;
	font-size: 25px;
	/*background-color: currentColor;*/
}

#replay:hover{
	background-color: black;
	/*border: none;*/
	/*border-color: yellow;*/
	color: white;
	cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}